<div class = "row">
  
    <div class="col-12">
    
    
        <div  class="row">
    
          <div  class="col-12">
            <div class="card h-100">
            
              <div class="card-body">
                <h4 class="card-title">
                Name: {{this.prod.name}}</h4>
               
                
                    <h4>email:{{this.prod.email}}</h4>
                  

                  
                    <h4>phone:{{this.prod.phone}}</h4>
                    <h4>uniqueid:{{this.prod.uniqueid}}</h4>
                  
              

                <button type="submit" class="btn btn-success btn-lg btn-block" (click)="editprofile();">Ediit Profile</button>
              </div>
    
            </div>
          </div>
        </div>
    
       
        <!-- /.row -->
    
      </div>
    </div>